.title {
  margin: $radius * 2;
  font-family: 'Roboto', sans-serif;
  font-size: $radius * 2;
  color: $very-silver;
}

.container {
  padding-top: $radius * 2;
  width: 100%;
  text-align: center;
}

.first, .second, .third {
  @include material-shadow;
  vertical-align: middle;
  width: 300px;
  height: 570px;
  display: inline-block;
  border-radius: $radius;
  position: relative;
  margin: $radius;
}

.first {
  background-color: $really-blue;
}

.second {
  background-color: $very-silver;
}

.third {
  background-color: $quite-black;
}
